<div class="w100 h100 fx fx-flow padding">

  <!--TITTLE-->
  <div class="w100 fx fx-middle">

    <div class="truncate" *ngIf="shared.rd">
      <mat-label class="bold padding-left">Cambiar Contraseña</mat-label>
    </div>

    <div class="fx-push align-right">
      <button mat-icon-button [mat-dialog-close]="false" matTooltip="cerrar">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>

  <!--BODY-->
  <div class="w100 fx-remaining overflow">

    <div class="w25 h100 fl-left border-right" *ngIf="!shared.rd">
      <div class="w100 h100 fx fx-middle content-center">

        <mat-label class="bold">Cambiar Contraseña</mat-label>

      </div>
    </div>

    <div class="w40 h100 fx fx-middle border-left-rd padding">
      <div class="w100">

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="usuario" disabled>
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Contrasena</mat-label>
          <input matInput [(ngModel)]="contrasena" type="password" disabled>
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Nueva Contrasena</mat-label>
          <input matInput [(ngModel)]="contrasenaNueva" type="password" maxlength="10">
        </mat-form-field>

        <mat-form-field class="w100" appearance="outline">
          <mat-label>Confirmar Contrasena</mat-label>
          <input matInput [(ngModel)]="contrasenaConfirma" type="password" maxlength="10">
        </mat-form-field>

        <div class="w100 align-center" [ngClass]="{'visible' : usuario != '' && contrasena != '' && contrasenaNueva != '' && contrasenaConfirma != '', 'hidden' : usuario == '' || contrasena == '' || contrasenaNueva == '' || contrasenaConfirma == ''  }">

          <button mat-icon-button (click)="ngController(1);">
            <mat-icon matTooltip="Guardar">save</mat-icon>
          </button>

        </div>

      </div>
    </div>

  </div>

</div>

